*{
   padding: 0;
   margin: 0;
   border: 0;
   font-family: 'DM Sans', sans-serif;
}

h2{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    padding: 30px 0 0 0;
}

h4{
    font-size: 1em;
    padding: 10px 0;
}

p{
    color: #767676;
}

.top{
    margin: 12px 0;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 1em;
    color: #2F2E41;
    margin: 25px 32px 25px 0;

}

.menu ul li a:hover{
    color: #6C63FF;
    border-bottom: 2px solid #6C63FF;
    padding: 32px 0;
}

.topo{
    background: #E4E4E4;
    border-bottom: 1px solid #6C63FF;
    padding: 110px 0;
}

.texto_topo{
    display: flex;
    align-items: center;
}

/* menu responsivo */
#wprmenu_bar, #mg-wprm-wrap {
    background-color: #6C63FF !important;
}

.wprm-overlay {
    background: #000a !important;
}
.menu_title a {
    display: none !important;
}
/* fim */

.imagem_topo{
    box-shadow: 48px -43px 0px 6px rgba(207,204,224,1);
    -webkit-box-shadow: 48px -43px 0px 6px rgba(207,204,224,1);
    -moz-box-shadow: 48px -43px 0px 6px rgba(207,204,224,1);
}

.btn-success{
    background-color: #57B894;
    padding: 14px;
    border-color: #57B894;
}

.sobre_nos{
    padding: 110px 0;
}

.imagem_sobre_nos{
    box-shadow: -200px -34px 0px 6px rgba(207,204,224,1);
-webkit-box-shadow: -200px -34px 0px 6px rgba(207,204,224,1);
-moz-box-shadow: -200px -34px 0px 6px rgba(207,204,224,1);
}

.servicos{
    background-color: #E5E5E5;
    padding: 160px 0;
    text-align: center;
    border-bottom: 1px solid #6C63FF;
    border-top: 1px solid #6C63FF;
}

.box_servicos{
    background: #F9F9F9;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 4px solid  #6C63FF;
    padding: 75px 0;
    border-radius: 4px;
    min-height: 320px;
}

.box_servicos p{
    padding: 10px 48px;
}

.depoimentos{
    text-align: center;
    padding: 160px 0;
    background-color: #fff;
}

/* rodapé */
footer{
    background-color: #2F2E41;
    color: #fff;
    padding: 125px 0 115px 0;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #fff;
}

footer hr{
    color: #fff;
}

footer .info{
    font-size: 12px;
}

.menu_footer li{
    list-style: none;
    padding: 15px 150px 0 0;
    display: inline;
    float: left;
}

/* responsive */
@media (max-width: 768px)
{
  footer{
    text-align: center;
   }

   .menu_footer a{
       text-align: center;
   }

   .imagem_topo {
    margin-top: 50px !important;
}
}